<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação</title>
    <link rel="stylesheet" href="/public/style.css" type="text/css">
</head>
<body>
    <div class="titulopg">
        <img src="/public/logo.png" id="imagem">
        <h1>Confirmação</h1>
    </div>
    <%-include('nav')%>
    <div class="main2">
        <% for(let i = 0; i < data.length; i++ ) { %>
        <div class="dados3">
            <span>Nome:</span>
            <%=data[i].nm%>
            <br>
            <span>Localização:</span>
            <%=data[i].loc%>
            <br>
            <span>Telefone:</span>
            <%=data[i].tel%>
            <br>
            <span>Valor:</span>
            <%=data[i].val%>
            <br>
        </div>
        <% } %>
    </div>
   
</body>
</html>